@import '~bootstrap/scss/bootstrap';
@import "~@fontsource/open-sans/400.css";
@import './variables.scss';


html{
    font-size: 15px;
}
body {
    font-family: "Open Sans";
    height: 100vh;
    background-color: $bg-primary-color;
    
}